* {
  margin: 0;
  font-family: Tahoma, sans-serif;
}

div {
  padding: 30px 0;
  text-align: center;
}

p {
  margin: 10px auto 10px auto;
  width: 980px;
  text-align: justify;
  font-size: 18px;
  line-height: 28px;
}

#cabecalho {
  background-color: #afddfb;
}

#cabecalho img {
  width: 150px;
}

#cabecalho p {
  margin-top: 15px;
  margin-bottom: 25px;
  text-align: center;
}

#cabecalho p a {
  font-size: 18px;
  color: #1d1d1d;
  border-bottom: 2px solid #1d1d1d;
  text-decoration: none;
  margin: 0 10px;
}